.answer-item {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;

}

.answer-item:hover {
    background: rgb(255, 255, 255, .2);
}